@page
@model TimeTracking.Pages.BusinessConstants.IndexModel

@{
    ViewData["Title"] = "Constants";
}

<h2>Constants</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessConstant[0].ConstantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessConstant[0].ConstantValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BusinessConstant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConstantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstantValue)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                                                    User, item,
                                                    BusinessConstantsOperations.EditBusinessConstants)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <text> | </text>
                }

                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>                
            </td>
        </tr>
}
    </tbody>
</table>
