@page
@model TimeTracking.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Issue.TaskNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.TaskNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.TaskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.TaskDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.Sprint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Sprint.SprintNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.Estimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Estimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue.Remaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Remaining)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Issue.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
